<% if user_signed_in? %>
	<h1>Promoções Recentes</h1>

	<div id="recent_offers">
		<% @recent_offers.each do |offer| %>
			<div class="offer_box">
				<div class="twitter_address">
					@hardmob_promo
				</div>
				<div class="title">
					<%= title = offer.twitter_message.match(/^[\[|\(].{1,40}[\]|\)]/) %>
				</div>
				<div class="description">
					<%= offer.twitter_message.gsub(title.to_s, "").gsub(offer.link, "").html_safe %>
				</div>
				<div class="timeliness">
					<%= time_ago_in_words offer.created_at%>
				</div>
				<div class="promo_link">
					<%= link_to "Confira", offer.link, :target=>"_blank" %>
				</div>
				<div style="clear:both;"></div>
			</div>
		<% end %>
	</div>
<% else %>
	<div class="welcome">
		<h1> Bem vindo </h1>
		</br>
		<div class="button">
			<%= link_to "Login", {:controller=>"home", :action=>"google_login"} %>
		</div>
	</div>
<% end %>