<%= form_for(@agenda) do |f| %>
  <% if @agenda.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@agenda.errors.count, "erro") %> não permitiram que esse filtro fosse salvo:</h2>

      <ul>
      <% @agenda.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_id, :value=>current_user.id %>
  <div id="ajax_message"></div>
  <div id= "agendas_box_list" class="field">
    <label>Agenda Google</label><br />
    <div class="agendas_form_list">
      <% @data_response["items"].each do |agenda|%>
        <div class="agenda_box">
          <%= f.radio_button :google_code, agenda["id"], :onclick=>"fill_name('#{agenda["summary"]}')" %>
          <div class="agenda_image" style="background-color:<%= agenda['backgroundColor']%>;"><%= image_tag "icon_calendar.png", :size=>"41x37" %></div>
          <div class="agenda_data">
            <%= agenda["summary"] %>
          </div>
        </div>
        <div style="clear:both;"></div>
      <% end %>
    </div>
  </div>
  <div id="create_agenda_box">
    <%= text_field_tag "calendar_name", nil, :size=>"30"%>
    <div class="button" style="width: 150px; float: left; line-height: 15px;">
      <div id="btn_create_google_agenda"> 
         Criar Nova Agenda
      </div>
    </div>
    <div style="clear:both"></div>
  </div>

  <%= f.hidden_field :name %>
  <%= f.hidden_field :status, :value=>1 %>

  <%= fields_for "agenda[interest_attributes]", @agenda.interest do |interest_form| %>
    <%= render :partial=>"interests/form", :locals=>{:f=>interest_form} %>
  <% end %>

  <div class="actions">
    <%= f.submit "Criar filtro" %>
  </div>
  <div style="clear:both;"></div>
<% end %>