<p id="notice"><%= notice %></p>

<p>
  <b>Twitter message:</b>
  <%= @offer.twitter_message %>
</p>

<p>
  <b>Link:</b>
  <%= @offer.link %>
</p>


<%= link_to 'Edit', edit_offer_path(@offer) %> |
<%= link_to 'Back', offers_path %>
